@font-face {
	font-family: 'tr2n';
	src: url('../fonts/tr2n/Tr2n.ttf');
}

@font-face {
	font-family: 'tron';
	src: url('../fonts/tron/tron.TTF');
}

@font-face {
	font-family: 'Jaapokki-Regular';
	src: url('../fonts/Jaapokki-font-package-1.0/Regular/Jaapokki-Regular.otf');
}

@font-face {
	font-family: 'Jaapokkisubtract-Regular';
	src: url('../fonts/Jaapokki-font-package-1.0/subtract/Jaapokkisubtract-Regular.otf');
}

body {
	background: black;
}


/*For Start Menu section*/
#start-menu {
	border: 8px solid #6FC3DF;
	border-radius: 2%;
	width: 600px;
	height: 700px;
	margin: 40px auto 0px auto;
	padding: 20px;
 
	color: white;
	text-align: center;

	-moz-box-shadow:    inset 0 0 20px #6FC3DF;
    -webkit-box-shadow: inset 0 0 20px #6FC3DF;
    box-shadow:         inset 0 0 20px #6FC3DF;
}

#start-menu h1 {
	font-family: 'tr2n', 'Helvetica', arial;
	font-size: 70px;
	margin-bottom: 20px;
}

#start-menu h2 {
	font-family: 'Jaapokki-Regular', 'Helvetica', arial;
	font-size: 30px;
}

#start-menu h3 {
	font-family: 'Jaapokkisubtract-Regular', 'Helvetica', arial;
	font-size: 30px;
}

#input-player-name h3 {
	margin-bottom: 10px;
}

#input-player-name input {
	font-family: 'Jaapokkisubtract-Regular', 'Helvetica', arial;
	margin: 0 auto 5% auto;
	font-size: 20px;
	color: black;
	padding: 5px;
}

#start-menu button {
	margin: 55px auto 0px auto;
	font-family: 'tron', 'Helvetica', arial;
	font-size: 40px;
	color: black;
	padding: 3px;
	border-radius: 5%;
}



/********************************************/
/*For gameBoard area*/
/********************************************/
#container {
	width: 950px;
	margin: 40px auto;
	positive: relative;
}

#container h1 {
	font-family: 'tr2n', 'Helvetica', arial;
	font-size: 60px;
	text-align: center;
	margin-bottom: 35px;
	color: white;
}

#container > h4 {
	text-align: center;
	font-size: 25px;
	font-family: 'Jaapokkisubtract-Regular', 'Helvetica', arial;
	color: white;
}

span {
	font-family: 'tr2n', 'Helvetica', arial;
	font-size: 25px;
	color: red;
}


.player1, .player2 {
	color: white;
	width: 13%;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	border-radius: 3%;
	word-wrap: break-word;
	font-family: 'Jaapokkisubtract-Regular';
}

.player1 h2, .player2 h2 {
	font-size: 30px;
}

.player1 h3, .player2 h3 {
	font-family: 'tr2n', 'Helvetica', arial;
	font-size: 25px;
	margin: 20px auto;
}

.player1 h4, .player2 h4 {
	font-size: 20px;
	margin: 20px auto;
}

.player1 { 
	border: 3px solid #4AAACA; 
}

.player2 { 
	border: 3px solid #DF740C; 
}


#gameboard {
	margin: 0 75px 0 75px;
	width: 450px;
	height: 450px;
	color: white;
	display: inline-block;
	border: 1px dashed white;
}

#gameboard .plane {
	height: 30%;
	width: 100%;
	transform: skew(-35deg, 0deg);
	border: 1px dashed red;
}


/*Create space between plane*/
#gameboard .plane {
	margin: 5% auto;
}

#gameboard .plane:last-child {
	margin: 2.5% auto 0 auto;
}

#gameboard .plane:first-child {
	margin: 0 auto 2.5% auto;
}


.plane {
	border: 1px solid white;
	text-align: center;
}

.plane div {
	margin: 0 auto;
	display: inline-block;
	height: 99%;
	vertical-align: top;

	border: 1px solid yellow;
	color: yellow;
}

.plane div div {
	border: 1px dashed green;
	display: block;
	width: 99%;
	margin: auto 0;
	text-align: center;

}

#container .plane div div h4 {
	font-family: 'tron', 'Helvetica', arial;
	margin-top: 2px;
	font-size: 12px;
}

.plane div div:hover {
	background-color: #00A0E4;
}



/*Game Over Menu*/
#gameover {
	position: absolute;
	border: 3px solid red;
	background-color: rgba(0, 0, 0, .9);
	width: 400px;
	color: white;
	top: 15%;
	left: 50%;
	margin-left: -200px;
	text-align: center;
	padding: 15px;
	word-wrap: break-word;
	font-family: 'Jaapokki-Regular', 'Helvetica', arial;
}

#gameover h1 {
	font-family: 'Jaapokkisubtract-Regular', 'Helvetica', arial;
	font-size: 40px;
	line-height: 1.4;
	margin-bottom: 25px;
}

#gameover h3 {
	margin-bottom: 10px;
}

#gameover h4 {
	color: white;
}

#gameover button {
	color: black;
	font-family: 'tron', 'Helvetica', arial;
	margin: 5px 16px;
	font-size: 20px;
}


#loser-selection select {
	display: block;
	margin: 8px auto;
	font-size: 25px;
}


