body {
	background: black;
}

#container {
	margin: 70px auto;
	width: 500px;
	height: 500px;

	border: 1px dashed white;
}

#container .plane {
	height: 30%;
	width: 100%;
	transform: skew(-35deg, 0deg);

	border: 1px dashed red;
}

/*Create space between planes*/
#container .plane:nth-child(2) {
	margin: 5% auto;
}

.plane div {
	margin: 0;
	display: inline-block;
	height: 32%;
	width: 32%;

	border: 1px solid yellow;
}

.plane div:hover {
	background-color: #00A0E4;
}