body {
	background: black;
}


/*For Start Menu section*/
#start-menu {
	border: 3px dashed red;
	width: 600px;
	height: 700px;
	margin: 40px auto 0px auto;

	color: white;
	text-align: center;
}

#start-menu h1 {
	
}

#input-player-name {
	border: 1px solid white;
}

#input-player-name input {
	margin: 0 auto 5% auto;
	color: black;
}

#player-icon {
	height: 25%;
	width: 90%;
	margin: 5% auto 0 auto;
	border: 3px solid yellow;
}

#player-icon img {
	display: inline-block;
	width: 75px;
	margin: auto 10px;
}

#start-menu button {
	margin: 5% auto 0px auto;
}




/*For gameBoard area*/

#container {
	width: 950px;
	margin: 40px auto 0px auto;
	positive: relative;
}

#player1, #player2 {
	color: white;
	width: 15%;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

#player1 { 
	border: 2px dashed blue; 
}

#player2 { 
	border: 2px dashed white; 
}


#gameboard {
	margin: 0 75px 0 75px;
	width: 450px;
	height: 450px;
	color: white;
	display: inline-block;

	border: 1px dashed white;
}

#gameboard .plane {
	height: 30%;
	width: 100%;
	transform: skew(-35deg, 0deg);

	border: 1px dashed red;
}



/*Create space between middle plane*/
#gameboard .plane:nth-child(2) {
	margin: 5% auto;
}

.plane {
	border: 1px solid white;
	text-align: center;
}


.plane div {
	margin: 0 auto;
	display: inline-block;
	height: 99%;
	vertical-align: top;

	border: 1px solid yellow;
	color: yellow;
}

.plane div div {
	border: 1px dashed green;
	display: block;
	width: 99%;
	margin: auto 0;

}
.plane div div:hover {
	background-color: #00A0E4;
}



/*Game Over Menu*/
#gameover {
	position: absolute;
	border: 3px solid red;
	background-color: rgba(0, 0, 0, .9);
	width: 400px;
	color: white;
	top: 15%;
	left: 50%;
	margin-left: -200px;
	text-align: center;
	padding: 15px;
}

#gameover button {
	color: black;
}


#loser-selection select {
	display: block;
	margin: 3px auto 3px auto;
}

#gameover h4 {
	color: white;
}

