<!DOCTYPE html>
<html lang="en-US" ng-app="ttt3DApp">
	<head>
		<meta charset="utf-8">

		<title>3D Tic Tac Toe</title>

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">

		<script src="js/angular.js" type="text/javascript"></script>
		<script src="js/ttt3DApp.js" type="text/javascript"></script>
		<script src="js/GameSpace.js" type="text/javascript"></script>
		<script src="js/GameAlgorithm.js"type="text/javascript"></script>
		<script src="js/Player.js" type="text/javascript"></script>
		<script src="js/GameExtras.js" type="text/javascript"></script>
		<script src="js/PlayT3DController.js" type="text/javascript"></script>
	</head>

	<body ng-controller='PlayT3DController as t3d'>
		<!-- Start Menu -->
<!-- 		<main id="start-menu">
			<h1>TIC TAC TOE<br/>3D</h1>

			<h3>Connect your pieces in a line in 3D space. <br/>
			    Pieces are not allowed on blocks. <br/>
			    Mines destroy any pieces in its path.
			</h3>

			<section id="input-player-name">
				<h3>Enter Your Name:</h3>
				<input type="text" placeholder="Player1" />
			</section>

			<section id="player-icon">
				<h3>Chose Your Piece</h3>
				<img src="images/death-star-2-icon.png" />
				<img src="images/enterprise-D2-icon.png" />
				<img src="images/kirby-ufo.png" />
				<img src="images/kodos.png" />
			</section>

			<button>PLAY</button>
		</main> -->

		<!-- For gameBoard area -->
		<div id="container">
			<div class="plane" ng-repeat="zPlane in t3d.activeSpace.theGameSpace track by $index">
				<div ng-repeat="xRow in zPlane track by $index" 
				     ng-style="{'width': t3d.activeSpace.toggleWidth()}">
					<div ng-repeat="ySpace in xRow track by $index" 
					     ng-style="{'height': t3d.activeSpace.toggleHeight()}"
					     ng-click="t3d.activeSpace.change($parent.$parent.$index,
														  $parent.$index, $index)">
						<!-- {{$parent.$parent.$index}}{{$parent.$index}}{{$index}} -->
						{{xRow[$index]}}
					</div>
				</div>

			</div>

	</body>
</html>
