<!DOCTYPE html>
<html lang="en-US" ng-app="ttt3DApp">
	<head>
		<meta charset="utf-8">

		<title>3D Tic Tac Toe</title>

		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">

		<script src="js/angular.js" type="text/javascript"></script>
		<script src="js/ttt3DApp.js" type="text/javascript"></script>
		<script src="js/PlayT3DController.js" type="text/javascript"></script>
	</head>

	<body ng-controller='PlayT3DController as t3d'>
		<!-- Start Menu -->
		<main id="start-menu">
			<h1>TIC TAC TOE<br/>3D</h1>

			<h3>Connect your pieces in a line in 3D space. <br/>
			    Pieces are not allowed on blocks. <br/>
			    Mines destroy any pieces in its path.
			</h3>

			<section id="input-player-name">
				<h3>Enter Your Name:</h3>
				<input ng-model="{{}}" type="text" placeholder="Player1" />
			</section>

			<section id="player-icon">
				<h3>Chose Your Piece</h3>
				<img src="images/death-star-2-icon.png" />
				<img src="images/enterprise-D2-icon.png" />
				<img src="images/kirby-ufo.png" />
				<img src="images/kodos.png" />
			</section>

			<button ng-click="">PLAY</button>
		</main>

		<!-- For gameBoard area -->
<!-- 		<div id="container">
			<div class="plane">
				<div class="plane_0">{{2-1+100}}<img src=""/></div>
				<div class="plane_0">2<img src=""/></div>
				<div class="plane_0">3<img src=""/></div>
				<div class="plane_0">4<img src=""/></div>
				<div class="plane_0">5<img src=""/></div>
				<div class="plane_0">6<img src=""/></div>
				<div class="plane_0">7<img src=""/></div>
				<div class="plane_0">8<img src=""/></div>
				<div class="plane_0">9<img src=""/></div>
			</div>
			
			<div class="plane">
				<div class="plane_1">a<img src=""/></div>
				<div class="plane_1">b<img src=""/></div>
				<div class="plane_1">c<img src=""/></div>
				<div class="plane_1">d<img src=""/></div>
				<div class="plane_1">e<img src=""/></div>
				<div class="plane_1">f<img src=""/></div>
				<div class="plane_1">g<img src=""/></div>
				<div class="plane_1">h<img src=""/></div>
				<div class="plane_1">i<img src=""/></div>
			</div>
			
			<div class="plane">
				<div class="plane_2">A<img src=""/></div>
				<div class="plane_2">B<img src=""/></div>
				<div class="plane_2">C<img src=""/></div>
				<div class="plane_2">D<img src=""/></div>
				<div class="plane_2">E<img src=""/></div>
				<div class="plane_2">F<img src=""/></div>
				<div class="plane_2">G<img src=""/></div>
				<div class="plane_2">H<img src=""/></div>
				<div class="plane_2">I<img src=""/></div>
			</div>
		</div>
 -->

		<script src="js/main.js" type="text/javascript"></script>
	</body>
</html>
